<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/js/showdown.min.js"></script>
  </head>
  <body>
    <div id="container">
    	<%- reactOutput %>
    </div>
	<script src="http://fb.me/react-0.12.2.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
